/* Common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 525;
    padding: 15px 35px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 750;
    margin-bottom: 25px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 385;
    margin-bottom: 25px;
}

/* Section-1 related styles */
.section-1 {
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 500px;
}

.banner .banner-pic {
    width: 450px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 799;
    margin-top: 5px;
    margin-bottom: 25px;
}

.banner-description {
    font-size: 13px;
    font-weight: 385;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 25px;
}

/* main section styles */
/* main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 10px;
} */

/* Section-2 related styles */
.section-2 {
    padding: 130px;
    border-radius: 10px;
    background: white;
    margin: 10px 0px;
    height: 575px;
}

.featured-flowers-container {
    display: flex;
    justify-content: space-around;
}

.featured-flowers {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    color: #272727;
}

.flower-img-6 {
    background-color: #A7216226;
    height: 450px;
    margin-right: 19px;
    border-radius: 45% 45% 0% 0%;
}

.flower-img-5 {
    background-color: #0597A026;
    height: 450px;
    margin-right: 19px;
    border-radius: 45% 45% 0% 0%;
}

.flower-img-7 {
    background-color: #477D1126;
    height: 450px;
    border-radius: 45% 45% 0% 0%;
}

/* about section styles */
.about {
    padding: 30px;
    border-radius: 10px;
    background: #2727270D;
    margin: 90px 150px;
    width: 900px;
}

/* Section-3 related styles */
.section-3 {
    background-color: #E554730D;
}

.hot-deal {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hot-deal-content {
    max-width: 500px;
    margin-left: 30px;
}

.hot-deal .hot-deal-pic {
    width: 250px;
}

.hot-deal-pic {
    margin-right: 110px;
}

.hot-deal-title {
    color: #272727;
    font-size: 25px;
    font-weight: 799;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.hot-deal-description {
    font-size: 13px;
    font-weight: 385;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 25px;
    text-align: center;
}

.btn-2 {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 525;
    padding: 13px 30px;
    margin-left: 150px;
}