/* Common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 35px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* Section-1 related styles */
.section-1 {
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 500px;
}

.banner .banner-pic {
    width: 450px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 795;
    margin-top: 5px;
    margin-bottom: 25px;
}

.banner-description {
    font-size: 13px;
    font-weight: 385;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 25px;
}